.login_form{
    width: 500px;
    height: 300px;
    /* border: 1px solid red; */
    padding: 40px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    /* background-color: rgb(11, 244, 244); */
}

.content_login{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.custom-heading {
    margin-bottom: 10px;
}